In [151]:
from rauth import OAuth2Service
import matplotlib as plt
import matplotlib.style as style
import json
import webbrowser
import pandas as pd
import numpy as np
% matplotlib inline

In [152]:
#read in consumer_key and consumer_secret from json file
credentials_file = open('oauth.json')
credentials = json.load(credentials_file)
credentials_file.close()
cid = credentials['consumer_key']
cs = credentials['consumer_secret']

In [153]:
#create yahoo object using authorization credentials
yahoo = OAuth2Service(client_id=cid,
                      client_secret=cs,
                      name='yahoo',
                      authorize_url='https://api.login.yahoo.com/oauth2/request_auth',
                      access_token_url='https://api.login.yahoo.com/oauth2/get_token',
                      base_url="http://fantasysports.yahooapis.com/")

In [154]:
#necessary data to make url requests
payload = {'grant_type': 'authorization_code',
           'redirect_uri': 'oob',
           'response_type': 'code'}

In [155]:
#create authorization url
url = yahoo.get_authorize_url(**payload)

In [156]:
#open web browser to read authorization key from yahoo
webbrowser.open(url)
verify = input('Enter code: ')

Enter code: efq99jq

In [157]:
#get raw access token and convert to json
r = yahoo.get_raw_access_token('POST', data={'code': verify, 'redirect_uri': 'oob', 'grant_type': 'authorization_code'})
at = r.json()['access_token']

In [158]:
#open a session accessing the yahoo sports api
session = yahoo.get_session(at)

In [162]:
'''
get players based on position
params: position - position played (QB, WR, RB, TE, W/R/T, K, DEF, D)
        count - number of players to return
        start - where to start (based on players sorted by points with 0 index)
returns: a dictionary with players names, keys, and total points
'''

def get_players(position, count, start):
    data = session.get('https://fantasysports.yahooapis.com/fantasy/v2/league/nfl.l.694463/' +
                      'players;position={};sort=PTS;count={};start={}/stats'.format(position, count, start),
                      params={'format': 'json'})
    
    players = {}
    for i in range(0, 12):
        players[str(i)] = {}
        
    for key in data.json()['fantasy_content']['league'][1]['players'].keys():
        if key != 'count':
            name = data.json()['fantasy_content']['league'][1]['players'][key]['player'][0][2]['name']['full']
            player_key = data.json()['fantasy_content']['league'][1]['players'][key]['player'][0][0]['player_key']
            points = data.json()['fantasy_content']['league'][1]['players'][key]['player'][1]['player_points']['total']
            players[key] = {'player_key': player_key, 'name': name, 'points': points}
            
    return players

In [163]:
def get_team(team_number):
    data = session.get('https://fantasysports.yahooapis.com/fantasy/v2/team/nfl.l.694463.t.{}/roster'.format(team_number), 
                       params={'format': 'json'})
    team = {}
    for key in data.json()['fantasy_content']['team'][1]['roster']['0']['players'].keys():
        if key != 'count':
            team[data.json()['fantasy_content']['team'][1]['roster']['0']['players'][key]['player'][0][0]['player_key']] = key
            
    return team

In [164]:
def get_all_teams():
    teams = {}
    for i in range(1, 13):
        teams[i] = get_team(i)
    return teams

In [214]:
def position_ranks(position, rank, teams):
    
    def team_id_2_name():
        id_2_name = {}
        league = session.get('https://fantasysports.yahooapis.com/fantasy/v2/league/nfl.l.694463/standings', params={'format': 'json'})
        for i in range(12):
            team_id = league.json()['fantasy_content']['league'][1]['standings'][0]['teams'][str(i)]['team'][0][1]['team_id']
            nickname = league.json()['fantasy_content']['league'][1]['standings'][0]['teams'][str(i)]['team'][0][19]['managers'][0]['manager']['nickname']
            id_2_name[team_id] = nickname

        return id_2_name

    id_2_name = team_id_2_name()
    count = 12
    start = (rank - 1) * 12
    players = get_players(position, count, start)
    
    position_ranks = {}
    for i in range(1, 13):
        position_ranks[id_2_name[str(i)]] = {}
        
    for i in range(1, 13):
        for key in players.keys():
            if players[key]['player_key'] in teams[i].keys():
                pos = len(position_ranks[id_2_name[str(i)]].keys())
                position_ranks[id_2_name[str(i)]][pos+1] = {'name': players[key]['name'], 'points': players[key]['points']}
                
    return position_ranks, players

In [180]:
def weekly_points(players, start, end):
    index = ['Week {}'.format(i) for i in range(start, end+1)]
    columns = [players[key]['name'] for key in players]
    weekly_points = pd.DataFrame(columns=columns, index=index)
    
    for key in rb2:
        pts = []
        player_key = players[key]['player_key']
        name = players[key]['name']
        for i in range(1, 6):
            player = session.get('https://fantasysports.yahooapis.com/fantasy/v2/league/nfl.l.694463/' + 
                             'players;player_keys={}/stats;type=week;week={}'.format(player_key, i), 
                             params={'format': 'json'})
            pts.append(float(player.json()['fantasy_content']['league'][1]['players']['0']['player'][1]['player_points']['total']))
        weekly_points[name] = pts
        
    return weekly_points

In [169]:
def plot_weekly_points(week_points):
    style.use('seaborn-muted')
    fte_graph = week_points.plot(figsize=(12, 8), colormap='Paired')
    fte_graph.tick_params(axis = 'both', which = 'major', labelsize=18)
    fte_graph.legend(loc='center left', bbox_to_anchor=(1, 0.5))

In [207]:
def trade_table(teams):
    owners_rank = {'QB1': {}, 'WR1': {}, 'WR2': {}, 'RB1': {}, 'RB2': {}}
    players_rank = {'QB1': {}, 'WR1': {}, 'WR2': {}, 'RB1': {}, 'RB2': {}}
    
    for key in owners_rank:
        position = key[0:2]
        rank = int(key[-1])
        owners_rank[key], players_rank[key] = position_ranks(position, rank, teams)
        
    cols = ['QB1', 'WR1', 'WR2', 'RB1', 'RB2']
    index = owners_rank['QB1'].keys()
    pr_df = pd.DataFrame(columns=cols, index=index)
    for position in owners_rank:
        for owner in owners_rank[position]:
            pr_df[position][owner] = len(owners_rank[position][owner])
        
    return pr_df

In [215]:
teams = get_all_teams()

In [216]:
tt = trade_table(teams)

In [217]:
tt

              QB1 WR1 WR2 RB1 RB2
Jacob           1   0   0   1   2
Tommy G         1   1   3   2   0
Mean Dean       0   2   1   0   1
Brent           1   1   0   0   0
Camp            0   0   0   1   0
Trace           1   1   2   1   3
Mittens         1   0   2   0   4
John            2   1   0   1   0
Jared           2   2   2   2   0
Jeff Harrison   1   1   0   2   0
Chuck J         1   1   0   1   0
Michael         1   1   0   0   2

In [218]:
tt.to_excel('trade_table.xlsx')